

body 			{
 				background: #FFFFFF;
				} 

a:link 			{	 
				color: #CC6666;
				font-weight: normal;
				text-decoration: none;
				} 

a:visited 		{ 
				color: #CC6666;
				font-weight: normal;
				text-decoration: none;
				} 
			
a:active 		{ 
				color: #CC3333;
				font-weight: normal;
				} 
						
td 				{ 
				font-family: Helvetica, Arial, Verdana, sans-serif;
				font-size: 14px;
				}
				
.para		 	{ 
				line-height: 1.5em;
				}

.def		 	{
				line-height: 1.0em;
				color: #669966;
				font-weight: bold;
				}
				
.def-label		{
				line-height: 1.0em;
				color: #000000;
				font-weight: bold;
				}
								
.caption	 	{ 
				font-size: 10px;
				line-height: 1.0em;
				color: #CC6666;
				}

.var 			{ 
				color: #666699;
				font-weight: bold;
				font-size: 12px;
				}

.emp			{
				font-weight: bold;				
				}

.subtitle		{
				color: #666699;
				font-size: 16px;				
				}
								
.bullet			{
				color: #666699;				
				}

.ex			{
				color: #666699;
				font-weight: bold;
				}

.table-title	{
				color: #666699;
				font-size: 12px;
				line-height: 1.0em;
				font-weight: bold;
				vertical-align: top;				
				}
				
.head			{
				color: #ffffff;
				font-size: 12px;
				line-height: 1.0em;
				background: #000000;
				font-weight: bold;
				vertical-align: top;				
				}

.page-heading			{
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	BACKGROUND: #7D9C95;
	VERTICAL-ALIGN: middle;
	COLOR: #ffffff;
	LINE-HEIGHT: 2em;
	font-family: Arial, Helvetica, sans-serif;
				}

.objectives			{
				color: #ffffff;
				font-size: 18px;
				line-height: 2.0em;
				background: #669966;
				font-weight: bold;
				vertical-align: top;				
				}

.lbd   			{
				color: #ffffff;
				font-size: 18px;
				line-height: 2.0em;
				background: #A68810;
				font-weight: bold;
				vertical-align: top;				
				}

.ask-heading			{
				color: #ffffff;
				font-size: 18px;
				line-height: 2.0em;
				background: #333366;
				font-weight: bold;
				vertical-align: top;				
				}

.cell			{
				font-size: 12px;
				line-height: 1.0em;
				background: #ffffff;
				vertical-align: top;				
				}
			



							

				






.tableCellEmp	{
				font-size: 12px;
				line-height: 1.0em;
				background: #CCCCFF;
				vertical-align: top;				
				}

.cause			{
				color: #CC6666;				
				}

.association	{
				color: #669966;				
				}				
