input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 500px;
    height:3px;
}

#graph-body {
    display: inline-block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}