

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1500480248960-3 > .CTATTable--row > .CTATTable--cell {width: 118px; height: 34px;
        }
        .silex-id-1500480248960-3 {top: 160px; left: 20px; height: 180px; width: 120px;
        }
        .silex-id-1500480332646-4 {top: 160px; left: 200px; height: 180px; width: 120px;
        }
        .silex-id-1500480332646-4 > .CTATTable--row > .CTATTable--cell {height: 34px; width: 118px;
        }
        .silex-id-1500480351365-5 {top: 160px; left: 360px; height: 180px; width: 180px;
        }
        .silex-id-1500480351365-5 > .CTATTable--row > .CTATTable--cell {width: 178px; height: 34px;
        }
        .silex-id-1500480462445-6 {top: 380px; left: 200px; height: 64px; width: 104px;
        }
        .silex-id-1500480524845-7 {top: 160px; left: 160px; height: 20px; width: 20px;
        }
        .silex-id-1500480564324-9 {top: 200px; left: 160px; height: 20px; width: 20px;
        }
        .silex-id-1500480570627-10 {top: 240px; left: 160px; height: 20px; width: 20px;
        }
        .silex-id-1500480576843-11 {top: 280px; left: 160px; height: 20px; width: 20px;
        }
        .silex-id-1500480582243-12 {top: 320px; left: 160px; height: 20px; width: 20px;
        }
        .silex-id-1500480700545-13 {top: 120px; left: 40px; height: 20px; width: 260px; text-align: center;
        }
        .silex-id-1500480733413-14 {top: 120px; left: 380px; height: 20px; width: 160px; text-align: center;
        }
    