.square {
    height: 1.5rem;
    width: 1.1rem;
    background-color: white;
    display: inline-block;
    border-style: solid;
    border-width: 1px;

}

.square2 {
    height: 1.2rem;
    width: 1.1rem;
    background-color: white;
    display: inline-block;
    border-style: solid;
    border-color: white;
    border-width: 1px;

}

.placeholder {
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    display: inline-block;
    border-style: solid;
    border-width: 0px;

}

.line {
    text-align: center;
    vertical-align: middle;
    width: 800px;
    display: block;
    clear: both;
}
